@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Gentium Book Basic", serif;
    background-color: rgb(41, 41, 35);
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    flex-direction: row;
    margin: 3rem;
    border: 1px green solid;
    height: 90vh;
    width: 90vw;
}

.new-book-input {
    border: 1px red solid;
    height: 30rem;
    width: 20rem;
    opacity: 0;
}

.main-display {
    /* display: flex;
    flex-direction: row; */
}

.book-title {
    width: 15rem;
    border: red 1px solid;
}
.book-author {
    width: 8rem;
}
.book-format {
    width: 10rem;
}
.book-pages {
    width: 6rem;
}
.book-read {
    width: 5rem;
}

.new-book-btn {
    height: 2.5rem;
    border-radius: 10px;
    font-size: 1.15rem;
    cursor: pointer;
    white-space: nowrap;
    margin: 10px;
}

.category {
    display: flex;
}

h2 {
    font-size: 1.8rem;
    margin: 10px;
    text-align: center;
    background-color: teal;
}
