@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Gentium Book Basic", serif;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    flex-direction: row;
    margin: 3rem;
    background: rgb(25, 25, 32);
    /* background: linear-gradient(
        150deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(46, 45, 50, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    ); */
    height: 90vh;
    width: 90vw;
    border-radius: 20px;
}

.new-book-form {
    display: none;
    position: fixed;
    z-index: 1;
    left: 5vw;
    top: 10vh;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    height: 30rem;
    width: 20rem;
}

.new-content {
    margin: 15% auto;
    /* padding: 2px; */
    border: 5px rgb(197, 214, 197) solid;
    width: 20rem;
    height: 20rem;
    background-color: rgb(26, 24, 23);
    color: rgb(245, 239, 239);
    font-size: 1.2rem;
}

.new-content input,
label {
    font-size: 1.4rem;
    /* margin-top: 5px; */
    margin-top: 15px;
    display: inline;
    /* margin-left: ; */
}

label {
    font-size: 1.3rem;
}

.new-close {
    float: right;
    font-weight: bold;
    font-size: 2rem;
    border: 2px red solid;
    width: 2rem;
    text-align: center;
    background: red;
    border-radius: 8px;
}

.new-close:hover,
.new-close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.main-display {
    /* display: flex;
    flex-direction: row; */
}

.book-title {
    font-size: 1.6rem;
}

.content {
    display: flex;
    flex-direction: row;
}

.book-title,
.title-column {
    width: 15rem;
    /* border: red 1px solid; */
}
.book-author,
.author-column {
    width: 12rem;
}
.book-format,
.format-column {
    width: 10rem;
}
.book-pages,
.pages-column {
    width: 6rem;
    /* border: green 1px solid; */
}
.book-read,
.read-column {
    width: 5rem;
}

.book-index,
.index-column {
    width: 5rem;
}

.edit-book,
.edit-column {
    width: 4rem;
}

.new-book-btn {
    height: 2.5rem;
    border-radius: 10px;
    font-size: 1.15rem;
    cursor: pointer;
    white-space: nowrap;
    margin: 10px;
}

.category {
    display: flex;
}

h2 {
    font-size: 1.8rem;
    margin: 10px;
    text-align: center;
    background-color: teal;
}

.col {
    text-align: center;
    margin: 10px;
}

.edit-button {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: rgb(200, 248, 68);
    cursor: pointer;
    font-size: 0.9rem;
    text-align: center;
    color: black;
}
